
<mat-toolbar>
    <span>Patient Path(pp)</span>
    <span class="example-spacer"></span>
    <button mat-raised-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['/home']">
      Home
    </button>
    <button mat-raised-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/about']">
        Services
      </button>
      <button mat-raised-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/doctorlist']">
        Doctors List
      </button>
      <button mat-raised-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/book']">
        Book Appointment
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with share icon">
        <mat-icon class="profile-icon">account_circle</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/myaccount']" >My Account</button>
        <button mat-menu-item >My Orders</button>
        <button mat-menu-item >Logout</button>
      </mat-menu>
      
      
</mat-toolbar>

<section class="services" id="services">

    <h1 class="heading">our<span> services</span></h1>

    <div class="box-container">

        <div class="box">

            <i class="fas fa-notes-medical"></i>

            <h3>checkups</h3>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, asperiores.</p>

            <a href="#" class="btn">Learn More<span class="fas fa-chevron-right"></span></a>

        </div>

        <div class="box">

            <i class="fas fa-ambulance"></i>

            <h3>24/7 ambulance</h3>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, asperiores.</p>

            <a href="#" class="btn">Learn More<span class="fas fa-chevron-right"></span></a>

        </div>

        <div class="box">

            <i class="fas fa-user-md"></i>

            <h3>expert doctors</h3>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, asperiores.</p>

            <a href="#" class="btn">Learn More<span class="fas fa-chevron-right"></span></a>

        </div>

        <div class="box">

            <i class="fas fa-pills"></i>

            <h3>medicines</h3>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, asperiores.</p>

            <a href="#" class="btn">Learn More<span class="fas fa-chevron-right"></span></a>

        </div>

        <div class="box">

            <i class="fas fa-procedures"></i>

            <h3>bed facility</h3>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, asperiores.</p>

            <a href="#" class="btn">Learn More<span class="fas fa-chevron-right"></span></a>

        </div>

        <div class="box">

            <i class="fas fa-heartbeat"></i>

            <h3>total cares</h3>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, asperiores.</p>

            <a href="#" class="btn">Learn More<span class="fas fa-chevron-right"></span></a>

        </div>

    </div>

</section>



